<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.css">
</head>

<body>

    <%- include('./partials/header') %>

        <div class="main">
            <form action="/create-user" method="POST" class="form">
                <h3 class="heading">Xóa Bài Học</h3>
        
                <div class="spacer"></div>

                <div class="form-group d-none">
                    <label for="myifm" class="form-lable">ID</label>
                    <input type="text" name="idInformation" id="myifm" class="from-control" value="<%= information.id %>"/>
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="myifm" class="form-lable">Tên Bài Học</label>
                    <input type="text" name="myinformation" id="myifm" class="from-control" value="<%= information.nameInformation %>"/>
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="myimg" class="form-lable">Link Ảnh</label>
                    <input type="text" name="myimage" id="myimg" class="from-control" value="<%= information.image %>"/>
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="mydo" class="form-lable">Link Thông Tin Bài</label>
                    <input type="text" name="mydoc" id="mydo" class="from-control" value="<%= information.linkDocument %>"/>
                    <span class="form-message"></span>
                </div>

                <button class="form-submit">Delete</button>
            </form>
        </div>

    <%- include('./partials/footer') %>
    <%- include('./partials/modalSearch') %>


</body>

</html>